# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambiente virtual
.venv/
venv/
env/

# VS Code
.vscode/

# Dados gerados pelo scraper
data/*.png
data/*.html
data/*.json

# Banco de dados
*.duckdb
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Variáveis de ambiente
.env